.App {
  position: relative;
  /* left: 50%;
  top: 2%;
  width:100%; */
  /* height: 840px; */
  /* margin-left: -800px;
  margin-right: -325px; */
  position: fix;
  font-family: Microsoft YaHei;
  margin: auto;
  width: 90%;
  margin-top: 2%;
  border: 5px solid black;
  padding: 0.5rem 1rem;
  background: white;
  font-weight: 900;
  color: black;
  letter-spacing: 0.5px;
  line-height: 19px;
}

.envelope {
  width: 200px;
  height: 120px;
  border: 3px solid pink;
  position: fixed;
  left: 40%;
  top: 40vh;
  transform: translate(-50%, 0);
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 4px 4px 2px #888888;
  background-color: white;
  font-weight: 900;
}
/* .triangle-down {
  width: 0;
  height: 0;
  border-left: 212px solid transparent;
  border-right: 200px solid transparent;
  border-top: 90px solid pink;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto

}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 212px solid transparent;
  border-bottom: 150px solid pink;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto

} */

@keyframes pound {
  to {
    transform: scale(1.4);
  }
}

.heart {
  width: 30%;
  height: auto;
  z-index: 999;
  position: absolute;
  left: 35%;
  top: 3vh;
  cursor: pointer;
  animation: pound 0.25s infinite alternate;
}

.text {
  position: absolute;
  top: -100px;
  left: 160px;
  color: blue;
  font-size: 10px;
}

.date {

  right: 15px;
  color: blue;
}
.date-text {
  font-size: 24px;
  color: deeppink;
}
